@model Websitet.Models.ContactModel

@{
    ViewBag.Title = "Add Contact";
}

<h2>Add Contact</h2>

<hr />

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ContactModel</legend>

        @Html.Partial("_Authority", Model.Authority)

        @Html.HiddenFor(model => model.Authority.Id)

        <br />

        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Forename)
                </td>
                <td>
                    @Html.EditorFor(model => model.Forename)
                    @Html.ValidationMessageFor(model => model.Forename)
                </td>
                <td>
                    @Html.LabelFor(model => model.Surname)
                </td>
                <td>
                    @Html.EditorFor(model => model.Surname)
                    @Html.ValidationMessageFor(model => model.Surname)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Telephone)
                </td>
                <td>
                    @Html.EditorFor(model => model.Telephone)
                    @Html.ValidationMessageFor(model => model.Telephone)
                </td>
                <td>
                    @Html.LabelFor(model => model.Mobile)
                </td>
                <td>
                    @Html.EditorFor(model => model.Mobile)
                    @Html.ValidationMessageFor(model => model.Mobile)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Email)
                </td>
                <td>
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Department)
                </td>
                <td>
                    @Html.EditorFor(model => model.Department)
                    @Html.ValidationMessageFor(model => model.Department)
                </td>
            </tr>
        </table>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back", "Details", "Authority", new { id = Model.Authority.Id }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
