@model Website.Models.Lists.AuthorityListModel

@{
    ViewBag.Title = "Authorities";
}

<h2>Authorities</h2>

@using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>@Html.Label("Search")</td>
                <td>@Html.TextBox("term")</td>
                <td>
                    <button type="submit" value="term">
                        <span class="search-icon">Search</span>
                    </button>
                </td>
            </tr>
        </table>
    }

<p>
    @Html.ActionLink("Create New", "Add")
</p>

@if(Model.AuthorityList.Any())
{ 
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>

    @foreach (var item in Model.AuthorityList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code, new { @class = "text-centered" })
            </td>
            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.Id })
            </td>
        </tr>
    }

    </table>
}
else
{
    <div class="text-centered">
        <p>No Authorities have been added.</p>
    </div>
}